th, td {
			  border: 1px solid black;
			  width: 150px;
			  height: 50px;
			  text-align: center;
}
.rank {
				font-weight: bold;
				font-size: 30px;
}
.rank-0 {
				background-color: green;
				color: white;
}
.rank-16 {
				background-color: skyblue;
				color: white;
}
.rank-18 {
				background-color: red;
				color: white;
}
.rank-20 {
				background-color: darkred;
				color: white;
}
#age {
				color: white;
				text-decoration: none;
}
